div {
    background-color: rgba(234, 0, 255, 0.0); 
    float: left;
    margin-top: 12%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 25%;}
    
    h1 {
        color: rgb(43, 158, 241);
        font-size: 130px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 10px;
        margin: 20px;
    }
    
    p {
        color: rgb(98, 98, 98);
        font-size: 62px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style: normal;
        font-weight: 100;
        margin-top: 5%;
        padding: 5px;
        margin: 10px;
        text-transform: uppercase;
    }
    
    a{
        color: rgb(36, 155, 236);
        font-size: 35px;
        font-style: normal;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 10px;
        margin: 1px;
        margin-right: -20%;
        display: inline-block;
        border: 2px solid rgb(36, 155, 236); 
        border-radius: 25px; 
        text-decoration: none;
        transform: rotate(180deg); 
        position: justify; 
        margin-left: 50px;
    }
    
    img {
        background-color: rgba(199, 61, 61, 0.6);
         float: left; width: 720px; margin-top: 8%; 
         margin-right: 20%; 
         margin-bottom: 5%; 
         margin-left: 0%;
    }
    
    